<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>list</title>
</head>
<body>
** 글 내용 **<p/>
<a href="insert">자료 추가</a>  <!-- insert만 써도 guest에 있기 때문에 guest/insert라고 함. -->
<table border="1">
  <tr>
    <th>아이디</th><th>제목</th><th>내용</th><th>등록일</th>
  </tr>
  {% if gdatas %}
  {% for g in gdatas%}
  <tr>
    <td>{{g.id}}</td>
    <td>{{g.title}}</td>
    <td>{{g.content}}</td>
    <td>{{g.regdate}}</td>
  </tr>
  {% endfor%}
  
  {% else %}
  <tr>
    <td colspan="4">자료가 없어요</td>  # colspan은 셀병합 4는 4개의 셀을 합친다는 뜻
  </tr>
  {% endif %}
</table>
</body>
</html>